<a href="https://colab.research.google.com/github/S11akshi/projectsssss/blob/main/Nassau_Candy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('/content/Nassau Candy Distributor.csv')

In [3]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost
0,1,US-2021-103800-CHO-MIL-31000,03-01-2024,30-06-2026,Standard Class,103800,United States,Houston,Texas,77095,Chocolate,Interior,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28
1,2,US-2021-112326-CHO-TRI-54000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60
2,3,US-2021-112326-CHO-NUT-13000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00
3,4,US-2021-112326-CHO-SCR-58000,04-01-2024,01-07-2026,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,10.80,3,7.50,3.30
4,5,US-2021-141817-CHO-TRI-54000,05-01-2024,05-07-2026,Standard Class,141817,United States,Philadelphia,Pennsylvania,19143,Chocolate,Atlantic,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,11.25,3,7.35,3.90

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          10194 non-null  int64
 1   Order ID        10194 non-null  object
 2   Order Date      10194 non-null  object
 3   Ship Date       10194 non-null  object
 4   Ship Mode       10194 non-null  object
 5   Customer ID     10194 non-null  int64
 6   Country/Region  10194 non-null  object
 7   City            10194 non-null  object
 8   State/Province  10194 non-null  object
 9   Postal Code     10194 non-null  object
 10  Division        10194 non-null  object
 11  Region          10194 non-null  object
 12  Product ID      10194 non-null  object
 13  Product Name    10194 non-null  object
 14  Sales           10194 non-null  float64
 15  Units           10194 non-null  int64
 16  Gross Profit    10194 non-null  float64
 17  Cost            10194 non-null  float64
dtypes: float64(3), int64(3), object(12)
memory usage: 1.4+ MB

In [8]:
data['Order Date'] = pd.to_datetime(data['Order Date'],errors='coerce').dt.normalize()
data['Ship Date'] = pd.to_datetime(data['Ship Date'],errors='coerce').dt.normalize()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10194 entries, 0 to 10193
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          10194 non-null  int64
 1   Order ID        10194 non-null  object
 2   Order Date      4130 non-null   datetime64[ns]
 3   Ship Date       10194 non-null  datetime64[ns]
 4   Ship Mode       10194 non-null  object
 5   Customer ID     10194 non-null  int64
 6   Country/Region  10194 non-null  object
 7   City            10194 non-null  object
 8   State/Province  10194 non-null  object
 9   Postal Code     10194 non-null  object
 10  Division        10194 non-null  object
 11  Region          10194 non-null  object
 12  Product ID      10194 non-null  object
 13  Product Name    10194 non-null  object
 14  Sales           10194 non-null  float64
 15  Units           10194 non-null  int64
 16  Gross Profit    10194 non-null  float64
 17  Cost            10194 non-null  float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(10)
memory usage: 1.4+ MB

/tmp/ipython-input-3728899546.py:2: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  data['Ship Date'] = pd.to_datetime(data['Ship Date'],errors='coerce').dt.normalize()

In [24]:
data['Region'] = data['Region'].str.strip()
data['Region'].unique()

array(['Interior', 'Atlantic', 'Gulf', 'Pacific'], dtype=object)

In [25]:
data['Order Date'].isna().sum()

np.int64(6064)

In [26]:
data['Ship Date'].isna().sum()

np.int64(0)

In [27]:
data['Shipping_lead_time'] = (data['Ship Date'] - data['Order Date']).dt.days
data['Shipping_lead_time'].describe()

count    4130.000000
mean     1366.009685
std       302.829972
min       613.000000
25%      1155.000000
50%      1361.000000
75%      1598.000000
max      1965.000000
Name: Shipping_lead_time, dtype: float64

In [28]:
data_valid = data[data['Shipping_lead_time'] > 0]

In [29]:
type(data_valid)

pandas.core.frame.DataFrame

In [30]:
avg_lead_time = data_valid['Shipping_lead_time'].mean()
avg_lead_time

np.float64(1366.0096852300242)

In [43]:
data_valid['Region_Route'] = "Factory" + "->" + data_valid['Region']

/tmp/ipython-input-2598091014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_valid['Region_Route'] = "Factory" + "->" + data_valid['Region']

In [44]:
data_valid.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,Division,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost,Shipping_lead_time,Region_Route
0,1,US-2021-103800-CHO-MIL-31000,2024-03-01,2026-06-30,Standard Class,103800,United States,Houston,Texas,77095,Chocolate,Interior,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,851.0,Factory->Interior
1,2,US-2021-112326-CHO-TRI-54000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,821.0,Factory->Interior
2,3,US-2021-112326-CHO-NUT-13000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,821.0,Factory->Interior
3,4,US-2021-112326-CHO-SCR-58000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,Chocolate,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,10.80,3,7.50,3.30,821.0,Factory->Interior
4,5,US-2021-141817-CHO-TRI-54000,2024-05-01,2026-07-05,Standard Class,141817,United States,Philadelphia,Pennsylvania,19143,Chocolate,Atlantic,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,11.25,3,7.35,3.90,795.0,Factory->Atlantic

In [45]:
Route_lead_time = data_valid.groupby('Region_Route')['Shipping_lead_time'].mean().sort_values()
Route_lead_time

Region_Route
Factory->Gulf        1344.419255
Factory->Interior    1349.285276
Factory->Atlantic    1373.098928
Factory->Pacific     1382.736680
Name: Shipping_lead_time, dtype: float64

In [46]:
Route_volume = data.groupby('Region').size()
Route_volume

Region
Atlantic    2986
Gulf        1620
Interior    2335
Pacific     3253
dtype: int64

In [47]:
data_valid.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4130 entries, 0 to 9960
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Row ID              4130 non-null   int64
 1   Order ID            4130 non-null   object
 2   Order Date          4130 non-null   datetime64[ns]
 3   Ship Date           4130 non-null   datetime64[ns]
 4   Ship Mode           4130 non-null   object
 5   Customer ID         4130 non-null   int64
 6   Country/Region      4130 non-null   object
 7   City                4130 non-null   object
 8   State/Province      4130 non-null   object
 9   Postal Code         4130 non-null   object
 10  Division            4130 non-null   object
 11  Region              4130 non-null   object
 12  Product ID          4130 non-null   object
 13  Product Name        4130 non-null   object
 14  Sales               4130 non-null   float64
 15  Units               4130 non-null   int64
 16  Gross Profit        4130 non-null   float64
 17  Cost                4130 non-null   float64
 18  Shipping_lead_time  4130 non-null   float64
 19  Region_Route        4130 non-null   object
dtypes: datetime64[ns](2), float64(4), int64(3), object(11)
memory usage: 677.6+ KB

In [48]:
data_valid['State_Route'] = "Factory"+ "->" + data_valid['State/Province']
data_valid.head()

/tmp/ipython-input-3193675961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_valid['State_Route'] = "Factory"+ "->" + data_valid['State/Province']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Country/Region,City,State/Province,Postal Code,...,Region,Product ID,Product Name,Sales,Units,Gross Profit,Cost,Shipping_lead_time,Region_Route,State_Route
0,1,US-2021-103800-CHO-MIL-31000,2024-03-01,2026-06-30,Standard Class,103800,United States,Houston,Texas,77095,...,Interior,CHO-MIL-31000,Wonka Bar - Milk Chocolate,6.50,2,4.22,2.28,851.0,Factory->Interior,Factory->Texas
1,2,US-2021-112326-CHO-TRI-54000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,...,Interior,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,7.50,2,4.90,2.60,821.0,Factory->Interior,Factory->Illinois
2,3,US-2021-112326-CHO-NUT-13000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,...,Interior,CHO-NUT-13000,Wonka Bar - Nutty Crunch Surprise,10.47,3,7.47,3.00,821.0,Factory->Interior,Factory->Illinois
3,4,US-2021-112326-CHO-SCR-58000,2024-04-01,2026-07-01,Standard Class,112326,United States,Naperville,Illinois,60540,...,Interior,CHO-SCR-58000,Wonka Bar -Scrumdiddlyumptious,10.80,3,7.50,3.30,821.0,Factory->Interior,Factory->Illinois
4,5,US-2021-141817-CHO-TRI-54000,2024-05-01,2026-07-05,Standard Class,141817,United States,Philadelphia,Pennsylvania,19143,...,Atlantic,CHO-TRI-54000,Wonka Bar - Triple Dazzle Caramel,11.25,3,7.35,3.90,795.0,Factory->Atlantic,Factory->Pennsylvania

In [50]:
ship_mode_summary = data_valid.groupby('Ship Mode')['Shipping_lead_time'].agg(['mean','median','count']).reset_index()
ship_mode_summary

        Ship Mode         mean  median  count
0     First Class  1385.604069  1390.0    639
1        Same Day  1405.352227  1358.0    247
2    Second Class  1372.392991  1389.0    799
3  Standard Class  1354.828221  1335.0   2445

In [51]:
State_Route_summary = (data_valid.groupby('State_Route')['Shipping_lead_time'].agg(
    total_shipments=('count'),
    avg_lead_time=('mean'),
    lead_time_variance=('std')
).reset_index())
State_Route_summary.head()

,State_Route,total_shipments,avg_lead_time,lead_time_variance
0,Factory->Alabama,11,1338.272727,357.990807
1,Factory->Alberta,18,1372.666667,315.527942
2,Factory->Arizona,78,1368.294872,281.457436
3,Factory->Arkansas,25,1314.680000,250.292782
4,Factory->British Columbia,8,1510.250000,276.292159

In [55]:
Region_Route_summary = (data_valid.groupby('Region_Route')['Shipping_lead_time'].agg(
    total_shipments=('count'),
    avg_lead_time=('mean'),
    lead_time_variance=('std')
).reset_index())
Region_Route_summary.head()

        Region_Route  total_shipments  avg_lead_time  lead_time_variance
0  Factory->Atlantic             1213    1373.098928          281.288640
1      Factory->Gulf              644    1344.419255          314.759013
2  Factory->Interior              978    1349.285276          300.184054
3   Factory->Pacific             1295    1382.736680          316.981444

In [53]:
Region_Route_summary = Region_Route_summary.sort_values(by='avg_lead_time',ascending=True)
Region_Route_summary

        Region_Route  total_shipments  avg_lead_time  lead_time_variance
1      Factory->Gulf              644    1344.419255          314.759013
2  Factory->Interior              978    1349.285276          300.184054
0  Factory->Atlantic             1213    1373.098928          281.288640
3   Factory->Pacific             1295    1382.736680          316.981444

In [57]:
State_Route_summary = State_Route_summary.sort_values(by='avg_lead_time',ascending=True)
State_Route_summary.head()

,State_Route,total_shipments,avg_lead_time,lead_time_variance
27,Factory->Montana,3,704.000000,0.000000
19,Factory->Maine,3,1026.000000,0.000000
43,Factory->Prince Edward Island,4,1097.000000,0.000000
39,Factory->Oklahoma,24,1166.583333,203.933262
16,Factory->Kansas,11,1181.363636,402.785122

In [58]:
top_10_routes = State_Route_summary.head(10)
top_10_routes

,State_Route,total_shipments,avg_lead_time,lead_time_variance
27,Factory->Montana,3,704.000000,0.000000
19,Factory->Maine,3,1026.000000,0.000000
43,Factory->Prince Edward Island,4,1097.000000,0.000000
39,Factory->Oklahoma,24,1166.583333,203.933262
16,Factory->Kansas,11,1181.363636,402.785122
40,Factory->Ontario,24,1182.291667,241.978705
29,Factory->Nevada,13,1191.692308,304.396503
18,Factory->Louisiana,15,1201.666667,281.677543
52,Factory->Virginia,96,1244.218750,299.343394
12,Factory->Idaho,10,1254.400000,383.930897

In [60]:
bottom_10_routes = State_Route_summary.tail(10)
bottom_10_routes

,State_Route,total_shipments,avg_lead_time,lead_time_variance
4,Factory->British Columbia,8,1510.250000,276.292159
35,Factory->Newfoundland and Labrador,2,1516.000000,258.801082
48,Factory->Tennessee,57,1517.245614,272.256266
45,Factory->Rhode Island,20,1523.800000,128.008470
30,Factory->New Brunswick,8,1566.750000,275.914454
37,Factory->Nova Scotia,4,1566.750000,298.021671
54,Factory->West Virginia,1,1576.000000,NaN
33,Factory->New Mexico,6,1586.500000,355.554637
31,Factory->New Hampshire,7,1631.285714,188.196453
47,Factory->South Dakota,1,1638.000000,NaN

In [63]:
geo_summary = (data_valid.groupby('State/Province')['Shipping_lead_time'].agg(
    shipment_volume=('count'),
    avg_lead_time=('mean'),
    variability=('std')
).reset_index())
geo_summary

               State/Province  shipment_volume  avg_lead_time  variability
0                     Alabama               11    1338.272727   357.990807
1                     Alberta               18    1372.666667   315.527942
2                     Arizona               78    1368.294872   281.457436
3                    Arkansas               25    1314.680000   250.292782
4            British Columbia                8    1510.250000   276.292159
5                  California              787    1380.959339   310.559478
6                    Colorado               78    1441.461538   353.484131
7                 Connecticut               28    1489.500000   302.701356
8                    Delaware               44    1305.772727   238.070623
9        District of Columbia                3    1371.000000    95.262794
10                    Florida              165    1361.963636   315.457215
11                    Georgia               63    1257.587302   266.607700
12                      Idaho               10    1254.400000   383.930897
13                   Illinois              176    1331.579545   294.929191
14                    Indiana               63    1487.333333   252.509917
15                       Iowa               11    1506.545455   154.911177
16                     Kansas               11    1181.363636   402.785122
17                   Kentucky               66    1294.272727   394.887347
18                  Louisiana               15    1201.666667   281.677543
19                      Maine                3    1026.000000     0.000000
20                   Manitoba               12    1435.333333   191.633805
21                   Maryland               48    1404.812500   190.545762
22              Massachusetts               61    1347.213115   308.461781
23                   Michigan              120    1369.591667   308.777979
24                  Minnesota               42    1417.476190   290.366231
25                Mississippi               13    1473.000000   316.867743
26                   Missouri               38    1341.026316   370.756676
27                    Montana                3     704.000000     0.000000
28                   Nebraska               11    1490.090909   320.805379
29                     Nevada               13    1191.692308   304.396503
30              New Brunswick                8    1566.750000   275.914454
31              New Hampshire                7    1631.285714   188.196453
32                 New Jersey               50    1334.000000   338.125686
33                 New Mexico                6    1586.500000   355.554637
34                   New York              480    1368.277083   272.813441
35  Newfoundland and Labrador                2    1516.000000   258.801082
36             North Carolina              122    1403.450820   278.188535
37                Nova Scotia                4    1566.750000   298.021671
38                       Ohio              177    1359.101695   281.744164
39                   Oklahoma               24    1166.583333   203.933262
40                    Ontario               24    1182.291667   241.978705
41                     Oregon               48    1370.645833   291.168409
42               Pennsylvania              237    1392.772152   297.156964
43       Prince Edward Island                4    1097.000000     0.000000
44                     Quebec                8    1450.750000   287.717495
45               Rhode Island               20    1523.800000   128.008470
46             South Carolina               11    1320.090909   371.468560
47               South Dakota                1    1638.000000          NaN
48                  Tennessee               57    1517.245614   272.256266
49                      Texas              430    1330.909302   298.465053
50                       Utah               19    1274.000000   269.259891
51                    Vermont                4    1453.250000   273.621850
52                   Virginia               96    1244.218750   299.343394
53                 Washington              226    1401.862832   332.649250
54              West Virginia                1    1576.000000          NaN
55                  Wisconsin               39    1322.769231   283.612733
56                    Wyoming                1    1393.000000          NaN

In [65]:
high_lead_time_states = geo_summary.sort_values(by='avg_lead_time',ascending=False).head(10)
high_lead_time_states

               State/Province  shipment_volume  avg_lead_time  variability
47               South Dakota                1    1638.000000          NaN
31              New Hampshire                7    1631.285714   188.196453
33                 New Mexico                6    1586.500000   355.554637
54              West Virginia                1    1576.000000          NaN
37                Nova Scotia                4    1566.750000   298.021671
30              New Brunswick                8    1566.750000   275.914454
45               Rhode Island               20    1523.800000   128.008470
48                  Tennessee               57    1517.245614   272.256266
35  Newfoundland and Labrador                2    1516.000000   258.801082
4            British Columbia                8    1510.250000   276.292159

In [66]:
geo_summary['bottleneck_flag'] = (
    (geo_summary['avg_lead_time'] > geo_summary['avg_lead_time'].mean()) &
    (geo_summary['shipment_volume'] > geo_summary['shipment_volume'].mean())
)
bottleneck_states = geo_summary[geo_summary['bottleneck_flag']]
bottleneck_states

,State/Province,shipment_volume,avg_lead_time,variability,bottleneck_flag
2,Arizona,78,1368.294872,281.457436,True
5,California,787,1380.959339,310.559478,True
6,Colorado,78,1441.461538,353.484131,True
23,Michigan,120,1369.591667,308.777979,True
34,New York,480,1368.277083,272.813441,True
36,North Carolina,122,1403.450820,278.188535,True
42,Pennsylvania,237,1392.772152,297.156964,True
53,Washington,226,1401.862832,332.649250,True

In [62]:
ship_mode_comparison = (data_valid.groupby('Ship Mode')['Shipping_lead_time'].agg(
    total_shipments=('count'),
    avg_lead_time=('mean'),
    variability=('std')
).reset_index())
ship_mode_comparison

        Ship Mode  total_shipments  avg_lead_time  variability
0     First Class              639    1385.604069   286.485330
1        Same Day              247    1405.352227   262.174075
2    Second Class              799    1372.392991   314.072682
3  Standard Class             2445    1354.828221   306.570255

In [67]:
shipmode_cost_profit = (
    data_valid.groupby('Ship Mode').agg(
        avg_lead_time = ('Shipping_lead_time','mean'),
        avg_profit = ('Gross Profit','mean'),
        avg_cost = ('Cost','mean'),
        total_profit = ('Gross Profit','sum'),
        total_cost = ('Cost','sum'),
)
    .reset_index())
shipmode_cost_profit

,Ship Mode,avg_lead_time,avg_profit,avg_cost,total_profit,total_cost
0,First Class,1385.604069,8.987214,4.665931,5742.83,2981.53
1,Same Day,1405.352227,8.348462,4.303968,2062.07,1063.08
2,Second Class,1372.392991,9.235695,4.792891,7379.32,3829.52
3,Standard Class,1354.828221,9.218920,4.689697,22540.26,11466.31

In [69]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_valid['efficiency_score'] = 1- scaler.fit_transform(data_valid[['Shipping_lead_time']])
route_efficiency = (data_valid.groupby('Region_Route')['efficiency_score'].mean().reset_index())
route_efficiency

/tmp/ipython-input-594922722.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_valid['efficiency_score'] = 1- scaler.fit_transform(data_valid[['Shipping_lead_time']])

        Region_Route  efficiency_score
0  Factory->Atlantic          0.437797
1      Factory->Gulf          0.459009
2  Factory->Interior          0.455410
3   Factory->Pacific          0.430668

In [70]:
route_efficiency = route_efficiency.sort_values(by='efficiency_score',ascending=False)
route_efficiency

        Region_Route  efficiency_score
1      Factory->Gulf          0.459009
2  Factory->Interior          0.455410
0  Factory->Atlantic          0.437797
3   Factory->Pacific          0.430668

In [71]:
route_efficiency.sort_values(by='efficiency_score')

        Region_Route  efficiency_score
3   Factory->Pacific          0.430668
0  Factory->Atlantic          0.437797
2  Factory->Interior          0.455410
1      Factory->Gulf          0.459009

In [72]:
data_valid.to_csv('cleaned_data.csv',index=False)